@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
    List<SelectListItem> game = new List<SelectListItem>();
    game.Add(new SelectListItem { Text = TV.Replays.Model.Game.Dota2.ToString(), Selected = true });
    game.Add(new SelectListItem { Text = TV.Replays.Model.Game.LoL.ToString() });

    List<SelectListItem> gender = new List<SelectListItem>();
    gender.Add(new SelectListItem { Text = "男" });
    gender.Add(new SelectListItem { Text = "女" });

    List<string> categories = new List<string>();
    categories.Add("现役选手");
    categories.Add("退役选手");
    categories.Add("知名解说");
    categories.Add("高端路人");
    categories.Add("美女玩家");
    categories.Add("RN水友");

    List<string> tvNames = new List<string>();
    tvNames.Add(TV.Replays.Model.TvName.斗鱼Tv.ToString());
    tvNames.Add(TV.Replays.Model.TvName.战旗Tv.ToString());
    tvNames.Add(TV.Replays.Model.TvName._17173.ToString());
    tvNames.Add(TV.Replays.Model.TvName.火猫Tv.ToString());
}
@model TV.Replays.Model.Player
<h2><b>新增玩家</b></h2>
<hr />
<style>
    .form-control {
        width: 400px;
    }

    .field-validation-error {
        color: red;
    }

    .form-control .selectpicker {
        width: 400px;
    }

    .row {
        padding-bottom: 15px;
    }
</style>
<script src="~/Scripts/jquery.validate.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.js"></script>
<form role="form" method="post" id="form">
    @Html.Hidden("Game", TV.Replays.Model.Game.Dota2.ToString())

    <div class="row">
        <div class="col-md-5">
            <label>玩家姓名</label>
            @Html.TextBoxFor(a => a.Name, new { @class = "form-control" })
            @Html.ValidationMessageFor(a => a.Name)
        </div>
        <div class="col-md-5">
            <label>头像地址</label>
            @Html.TextBoxFor(a => a.Icon, new { @class = "form-control" })
        </div>
    </div>

    <div class="row">
        <div class="col-md-5">
            <div>
                <label>推荐</label>
                @Html.CheckBoxFor(a => a.Recommend)
                @Html.TextBoxFor(a => a.Level, new { type = "number", @class = "form-control" })
            </div>
        </div>
        <div class="col-sm-5">
            <label>分类</label>
            <div>
                <select class="form-control multiselect" multiple="multiple" name="Categories">
                    @foreach (var item in categories)
                    {
                        <option value="@item">@item</option>
                    }
                </select>
            </div>
            @Html.ValidationMessageFor(a => a.Categories)
        </div>
    </div>

    <div class="row">
        <div class="col-sm-5">
            <label>玩家简介</label>
            @Html.TextAreaFor(a => a.Description, new { @class = "form-control", cols = 30, rows = 5 })
        </div>
    </div>
    <div class="row">
        <div class="col-md-5">
            <label class="control-label">直播间名称</label>
            <select id="roomName" class="form-control multiselect">
                @foreach (var item in tvNames)
                {
                    <option>@item</option>
                }
            </select>
        </div>
        <div class="col-md-5">
            <label class="control-label">直播间地址</label>
            <input id="roomUrl" type="text" class="form-control" />
        </div>
        <div class="col-md-2">
            <br />
            <input type="button" value="添加" onclick="add()" class="btn btn-success" />
            <input type="button" value="删除" onclick="del()" class="btn btn-danger" />
        </div>
    </div>
    <br />
    <div class="row">
        <label>直播间列表</label>
        <table id="table_liveRoom" class="table">
            <tr>
                <th width="30%">直播间名称</th>
                <th width="60%">直播间地址</th>
            </tr>
        </table>
    </div>

    <input type="submit" class="form-control btn-success" style="width:200px" />
</form>

<script src="~/Scripts/bootstrap-select.js"></script>
<script>
    $(function () {

        $('.multiselect').multiselect({
            buttonWidth: '400px'
        });

        $('.switch').bootstrapSwitch('toggleState');
    });

    function add() {
        var name = $("#roomName").val();
        var url = $("#roomUrl").val();
        var count = $("#table_liveRoom tr").length - 1;
        $("#table_liveRoom").append("<tr id='tr_" + count + "'><td>" + name + "</td><td>" + url + "</td></tr>");

        $("#form").append("<input type='hidden' id='name_" + count + "' name='LiveRooms[" + count + "].Name' value='" + name + "' />");
        $("#form").append("<input type='hidden' id='url_" + count + "' name='LiveRooms[" + count + "].Url' value='" + url + "' />");
    }

    function del() {
        var count = $("#table_liveRoom tr").length - 2;
        $("#name_" + count).remove();
        $("#url_" + count).remove();
        $("#tr_" + count).remove();
    }
</script>
